<!DOCTYPE>
<html>
<head>
    <title>Editar Álbum</title>
</head>
<body>
{% extends "layouts/base.html" %}

{% block content %}
{% load bootstrap %}
<div class="container mt-5">
    <div class="shadow p-3 mb-5 bg-white rounded">
    <h2>Edtar Álbum</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit" class="btn btn-success">Editar</button>
        <a href="{% url 'album_list'%}" type="button" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
</div>
{% endblock %}
</body>
</html>