<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Editar Artista</title>
</head>
<body>
{% extends "layouts/base.html" %}
{% load bootstrap %}
{% block content %}
<div class="container mt-5">
    <h2>Editar Artista</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|bootstrap}}
        <button type="submit" value="Submit" class="btn btn-primary">Editar</button>
        <a href="{% url 'artist_list' %}" type="button" class="btn btn-danger">Cancelar</a>
    </form>
</div>
{% endblock %}
</body>
</html>